.bg-breadcrumb {
    margin-left: 160px;
    margin-top: 12px;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: none;
}
.breadcrumb {
    background: transparent;
    font-weight: 500;
    padding: 0.75rem 0rem;
}
.breadcrumb .breadcrumb-item {
    padding-right: 5px;
}
.breadcrumb .breadcrumb-item a {
    color: #00c199;
}
.breadcrumb .breadcrumb-item a:hover {
    color: #0e1e8e;
}
.breadcrumb .breadcrumb-item i {
    padding-right: 5px;
    font-size: 23px;
    padding-left: 8px;
    color: #00c199;
}
.breadcrumb .breadcrumb-item:before {
    display: none;
}
.breadcrumb .breadcrumb-item .active{
    color: #0e1e8e !important;
}

