.content-section  {
    margin: 40px 145px 124px;
}

.content-section .list-image .img-show{
    max-height: 520px;
    margin-bottom: 16px;
}

.content-section .list-video .video p {
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 0.14px;
    text-align: left;
    color: #1d293f;
}

.content-section .design-images .design-image {
    max-width: 788px;
    max-height: 788px;
    position: relative;
    border-radius: 16px;
    border: solid 1.5px #e5e7e9;
}

.list-rooms {
    margin-top: 40px;
}

.list-rooms .image-slide{
    margin-bottom: 28px;
}

.list-rooms .btn-see-more-image {
    width: 250px;
    height: 56px;
    border-radius: 6px;
    border: solid 1.5px #e5e7e9;
    background-color: #fff;
}
