/*tooltip Box*/
.con-tooltip {
    position: relative;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    cursor: default;
    color: #ef5050;
    font-size: 18px;
}

/*tooltip */
.tooltip {
    width: max-content;
    max-width: 178px;
    visibility: hidden;
    z-index: 1;
    opacity: .40;
    padding: 16px;
    box-shadow: 0 3px 20px 0 rgba(42, 56, 136, 0.16);
    background-color: #fff;
    color: #7c8087;
    position: absolute;
    border-radius: 9px;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
}


/* tooltip  after*/
.tooltip::after {
    content: "";
    border-style: solid;
    border-width: 12px 16px 0 16px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
}

.con-tooltip:hover .tooltip{
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    transition: .3s linear;
    animation: odsoky 1s ease-in-out infinite  alternate;
}
@keyframes odsoky {
    0%{
        transform: translateY(6px);
    }

    100%{
        transform: translateY(1px);
    }

}

/*hover ToolTip*/
.left:hover {transform: translateX(-6px); }
.top:hover {transform: translateY(-6px);  }
.bottom:hover {transform: translateY(6px);}
.right:hover {transform: translateX(6px); }



/*right*/

.right .tooltip {
    top: -147%;
    left: 159%;
}

.right .tooltip::after{
    top:40%;
    left:-12%;
    transform: rotate(90deg);
}

