$dusk-blue: #2a3888;
$white: #fff;
$grey: #8e8e93;
$charcoal-grey: #48484a;
$pale-lilac: #e5e5ea;
$pale-grey: #f2f2f7;
$lightish-blue: #4371fb;
$very-light-blue:#e5e7e9;
$green-blue:#00c199;
$royal: #0e1e8e;
$dark: #1d293f;
